*{
    margin: 0px;
    padding: 0px;
    
}

/* Styling Navigation  */

#navbar{
    display: flex;
    height: 72px;
    position: relative;
}
#navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: -1;
    opacity: 0.4;

}

/* Navbar logo and navitems  */
#logo img{
    margin: 16px 20px;
}

#navbar ul {
    display: flex;
    
}
#navitems{
    position: absolute;
    left: 60%;
    margin: 16px 20px;
}
#navitems ul li {
    list-style: none;

}
#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    
}
#navbar ul li a:hover{
    background-color: rgb(194, 180, 180);
    border-radius: 10px;
    
}

/* Styling Home Section  */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;



}
#home::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../images/home.png") no-repeat center center/cover;
    z-index: -1;
    filter: brightness(0.5);

}
#home h1{
    color: white;
    font-size: 5.3rem;
    font-family: 'Roboto', sans-serif;
}
/* Styling Service Section  */
#service-container{
    padding: 160px 3px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
#service{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin: 0px;
    padding: 0px 80px;
}

#service .box{
    margin: 33px;
}

/* Styling Resource Section  */
#resources{
    position: relative;
    /* border: 2px solid red; */
    height: 500px;
    /* border: 2px solid red; */
}
#resources::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    /* border: 2px solid red; */
}
    
#topic{
    display: flex;
    justify-content: center;
    align-items: center;
}
#topic #topic-1{
    /* border: 2px solid red; */
    position: absolute;
    top: 0%;
    left: 4%;
    width: 30%;
}
#topic #topic-1 hr{
    width: 100%;
}
#topic .resource-contents{
    position: absolute;
    /* top: 47%; */
    width: 100%;
    left: 0%;
    /* top: 8%; */
    line-height: 70px;
    margin-top: 15%;;
    color: #27AD6C;
}
#topic .resource-contents .time{
    position: relative;
    color: #9B9B9B;
    top: -20px;
    margin: 2px 2px;
    line-height: 1;
}
#topic .icon{
    padding: 2px 3px;
    line-height: 5.7;
}
#topic .icon .fas{
    color: #D2D9CA;
    font-size: 1.4rem;
}
#topic #hrline hr{
    position: absolute;
    width: 33%;
    height: 0%;
    left: 30%;
    top: 50%;
    transform: rotate(90deg);
}
#topic #topic-2{
    /* border: 2px solid red; */
    position: absolute;
    top: 0%;
    right: 3%;
    width: 40%;
}
#topic h1{
    color: #9B9B9B;
    font-size: 3rem;
    position: absolute;
    top: 0%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 56.25px;
}

/* Styling Bottom Logo Section  */
 #logo2{
    position: relative;
}    
#logoline{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 73%;
    left: 10%;
    margin-top: 62px;
    
}
#logoline hr{
    width: 123px;
    margin: 0px 36px;
    border: 1px solid #88C542;
}

/* Utility Section  */
.h-primary{
    color: #9B9B9B;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    padding: 12px;


}
.h-secondary{
    color:  #27AD6C;
    font-size: 1rem;
    margin: 26px 4px;
}
.para{
    color: #4A4A4A;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0px;
}

.btn{
    width: fit-content;
    border-radius: 4px;
    /* padding: 4px 5px; */
    width: 192px;
    height: 62px;
    background-color: #27AD6C;
    border-radius: 4px;

}
.btntxt{
    width: 88px;
    height: 19px;
    text-transform: uppercase;
    padding-left: 45px;
    color: white;
}
#home-para{
    width: 40%;
    margin: 20px 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    
}
.text-center{
    text-align: center;
}

