*{
    margin: 0px;
    padding: 0px;
    
}

/* Styling Navigation  */

#navbar{
    display: flex;
    /* height: 72px; */
    height: 59px;
    position: relative;
}
#navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: -1;
    opacity: 0.4;

}

/* Navbar logo and navitems  */
#logo img{
    margin: 16px 20px;
}

#navbar ul {
    display: flex;
    
}
#navitems{
    position: absolute;
    left: 60%;
    margin: 16px 20px;
}
#navitems ul li {
    list-style: none;

}

#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    
}
#navbar ul li a:hover{
    background-color: rgb(194, 180, 180);
    border-radius: 10px;
    
}

/* Styling Home Section  */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 385px;
    padding: 50px 0px;



}
#home::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../images/home.png") no-repeat center center/cover;
    z-index: -1;
    filter: brightness(0.5);

}
#home h1{
    color: white;
    font-size: 5.3rem;
    font-family: 'Roboto', sans-serif;
}
/* Styling Require Section  */
#require-container{
    padding: 160px 3px;
}
#require{
    display: flex;
    margin: 0px;
    padding: 0px 80px;
}

#require .box{
    margin: 33px;
}

/* Styling Resource Section  */
#resources{
    position: relative;
    height: 500px;
}
#resources::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}
    
#topic{
    display: flex;
    justify-content: center;
    align-items: center;
}
#topic #topic-1{
    position: absolute;
    top: 0%;
    left: 4%;
    width: 30%;
}
#topic #topic-1 hr{
    width: 100%;
}
#topic .resource-contents{
    position: absolute;
    width: 100%;
    left: 0%;
    line-height: 70px;
    margin-top: 15%;;
    color: #27AD6C;
}
#topic .resource-contents .time{
    position: relative;
    color: #9B9B9B;
    top: -20px;
    margin: 2px 2px;
    line-height: 1;
    opacity: 0.5;
}
#topic .icon{
    padding: 2px 3px;
    line-height: 5.7;
}
#topic .icon .fas{
    color: #D2D9CA;
    font-size: 1.4rem;
}
#topic #hrline hr{
    position: absolute;
    width: 33%;
    height: 0%;
    left: 30%;
    top: 50%;
    transform: rotate(90deg);
}
#topic #topic-2{
    /* border: 2px solid red; */
    position: absolute;
    top: 0%;
    right: 3%;
    width: 40%;
}
#topic h1{
    color: #9B9B9B;
    font-size: 3rem;
    position: absolute;
    top: 0%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 56.25px;
}

/* Styling Bottom Logo Section  */
 #logo2{
    position: relative;
}    
#logoline{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 73%;
    left: 10%;
    margin-top: 62px;
    
}
#logoline hr{
    width: 123px;
    margin: 0px 36px;
    border: 1px solid #88C542;
}

/* Styling Food Section  */

#foodbox{
    display: flex;
    flex-direction: column;
    position: relative;
}

#foods{
    display: flex;
    position: absolute;
    top: 347%;
}

#foods .food-items img{
    width: 451px;
    height: 321px;
    margin-top: -4px;
    margin-left: -4px;
}

#foodheader h1{
    text-align: center;
    position: relative;
    top: 222px;
}
#foodheader p{
    text-align: center;
    position: relative;
    top: 222px;
}

/* Styling Service container section  */
#containers{
    display: flex;
    position: relative;
    background-color: #423633;
    height: 1147px;
    margin-top: 944px;
}
#container h1{
    padding: 31px 39px 0px 34px;
    width: 100%;
    margin: 100px 40px 30px 32px;
    color: white;
}
#container #imagecontainer{
    display: flex;
    width: 1097px;
    padding: 0px 30px;
    margin: 31px 10px;
    flex-wrap: wrap;
}
#imagecontainer .imgdiv{
    display: flex;
    position: relative;
    padding: 51px 151px;

}
#imagecontainer .imgdiv h4{
    position: absolute;
    left: 220px;
    top: 56px;
    width: 260px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    color: white;

}
#imagecontainer .imgdiv p{
    position: absolute;
    left: 220px;
    top: 88px;
    width: 219px;
    text-align: left;
    color: white;
    font-size: 1rem;
    font-family: normal;
    line-height: 24px;
    opacity: 0.6;
}

#btncontainer .btn{
    position: absolute;
    left: 46%;
    top: 75%;
} 

#logocontainer img{
    position: absolute;
    /* display: inline; */
    left: 50%;
    top: 89%;
    filter: grayscale(5);
}
/* Styling Footer Section  */
#footer{
    display: flex;
    position: relative;
    padding: 27px 0px;
    background-color: #333333;
    color: white;
}

#footer ul{
    display: flex;
    position: absolute;
    right: 5%;
}
#footer ul li{
    list-style: none;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.copyright h3{
    margin: 10px 20px;
    font-size: 14px;
}

/* Utility Section  */
.h-primary{
    color: #9B9B9B;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding: 12px;
}
.h-secondary{
    color:  #27AD6C;
    font-size: 1rem;
    margin: 26px 4px;
}
.para{
    color: #4A4A4A;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0px;
}

.btn{
    position: absolute;
    top: 72%;
    width: 192px;
    height: 62px;
    background-color: #27AD6C;
    border-radius: 10px;

}
.btntxt{
    width: 110px;
    height: 19px;
    text-transform: uppercase;
    padding-left: 45px;
    color: white;
}
.btntxt .fas{
   padding: 2px 8px;
}
#home-para{
    width: 40%;
    margin: 20px 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    
}
.text-center{
    text-align: center;
}

